body{
	background-color:chocolate;	
}

h1 {
	color: white;
	text-shadow: chocolate 0px 0px 1px;
	-webkit-font-smoothing: antialiased;
}

h2{
	color: chocolate;
}

h6{
	font-size:large;
	color: white;
	text-shadow: 2px 2px 4px #000;
}

a {
	color:white;
	text-decoration:none
}

#table2{
	border-spacing: 15px;
}

h4{
	font-family: Helvetica;
	text-shadow: 2px 2px 4px white;
}

#name{
	font-style:italic;
}

